HELP.md

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

.mvn/wrapper/maven-wrapper.properties

# SonarQube & JaCoCo (arquivos temporários e cache local)
.sonar/
.scannerWork/

# GitHub Self-Hosted Runner (se foi baixado dentro da pasta do projeto)
actions-runner/

# IDEs (IntelliJ / VS Code / Eclipse)
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# macOS
.DS_Store

# New Relic - arquivos locais, chave e logs
newrelic/newrelic.jar
newrelic/newrelic.yml
newrelic/logs/
newrelic/*.log