# Variáveis de Ambiente e Segredos (CRÍTICO)
.env
*.env
.env.local
.env.*.local

# Maven e Compilação
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
*.jar
*.war
*.ear

# SonarQube & JaCoCo (arquivos temporários e cache local)
.sonar/
.scannerWork/

# GitHub Self-Hosted Runner
actions-runner/

# IDEs (IntelliJ / VS Code / Eclipse)
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# Sistema Operacional e Logs
.DS_Store
Thumbs.db
*.log

# New Relic - Logs, pastas temporárias e arquivo de configuração local
newrelic/logs/
newrelic/*.log
newrelic/newrelic.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl.tmp