# Copie para newrelic.yml e NÃO commite a chave.
# export NEW_RELIC_LICENSE_KEY="sua-chave"
# mvn spring-boot:run -Pnewrelic

common: &default_settings
  license_key: ''
  agent_enabled: true
  app_name: order-platform

  distributed_tracing:
    enabled: true
    exclude_newrelic_header: false

  application_logging:
    enabled: true
    forwarding:
      enabled: true
      context_data:
        enabled: true
    metrics:
      enabled: true
    local_decorating:
      enabled: false

  log_level: info

development:
  <<: *default_settings
  app_name: order-platform

test:
  <<: *default_settings
  monitor_mode: false
  app_name: order-platform

staging:
  <<: *default_settings
  app_name: order-platform

production:
  <<: *default_settings
  app_name: order-platform
